:root {
  --sans: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --light-step: 5%;
  --l--1: calc(var(--light-step) - var(--light-step));
  --l-0: var(--light-step);
  --l-1: calc(var(--l-0) + var(--light-step));
  --l-2: calc(var(--l-1) + var(--light-step));
  --l-3: calc(var(--l-2) + var(--light-step));
  --l-4: calc(var(--l-3) + var(--light-step));
  --l-5: calc(var(--l-4) + var(--light-step));
  --l-6: calc(var(--l-5) + var(--light-step));
  --l-7: calc(var(--l-6) + var(--light-step));
  --l-8: calc(var(--l-7) + var(--light-step));
  --l-9: calc(var(--l-8) + var(--light-step));
  --l-10: calc(var(--l-9) + var(--light-step));

  --dark: hsl(253, 44%, 6%);
  --dark-h: 253;
  --dark-s: 44%;
  --dark-l: 6;
  --dark--1: hsl(var(--dark-h), var(--dark-s), var(--l--1));
  --dark-0: hsl(var(--dark-h), var(--dark-s), var(--l-0));
  --dark-1: hsl(var(--dark-h), var(--dark-s), var(--l-1));
  --dark-2: hsl(var(--dark-h), var(--dark-s), var(--l-2));
  --dark-3: hsl(var(--dark-h), var(--dark-s), var(--l-3));
  --dark-4: hsl(var(--dark-h), var(--dark-s), var(--l-4));
  --dark-5: hsl(var(--dark-h), var(--dark-s), var(--l-5));
  --dark-6: hsl(var(--dark-h), var(--dark-s), var(--l-6));
  --dark-7: hsl(var(--dark-h), var(--dark-s), var(--l-7));
  --dark-8: hsl(var(--dark-h), var(--dark-s), var(--l-8));
  --dark-9: hsl(var(--dark-h), var(--dark-s), var(--l-9));
  --dark-10: hsl(var(--dark-h), var(--dark-s), var(--l-10));

  --light: hsl(253, 100%, 95%);
  --light-h: 253;
  --light-s: 100%;
  --light-l: 95%;
  --light--1: hsl(var(--light-h), var(--light-s), var(--l--1));
  --light-0: hsl(var(--light-h), var(--light-s), var(--l-0));
  --light-1: hsl(var(--light-h), var(--light-s), var(--l-1));
  --light-2: hsl(var(--light-h), var(--light-s), var(--l-2));
  --light-3: hsl(var(--light-h), var(--light-s), var(--l-3));
  --light-4: hsl(var(--light-h), var(--light-s), var(--l-4));
  --light-5: hsl(var(--light-h), var(--light-s), var(--l-5));
  --light-6: hsl(var(--light-h), var(--light-s), var(--l-6));
  --light-7: hsl(var(--light-h), var(--light-s), var(--l-7));
  --light-8: hsl(var(--light-h), var(--light-s), var(--l-8));
  --light-9: hsl(var(--light-h), var(--light-s), var(--l-9));
  --light-10: hsl(var(--light-h), var(--light-s), var(--l-10));

  --accent: #ff5789;
  --accent: hsl(342, 100%, 67%);
  --accent-h: 342;
  --accent-s: 100%;
  --accent-l: 67%;
  --accent--1: hsl(var(--accent-h), var(--accent-s), var(--l--1));
  --accent-0: hsl(var(--accent-h), var(--accent-s), var(--l-0));
  --accent-1: hsl(var(--accent-h), var(--accent-s), var(--l-1));
  --accent-2: hsl(var(--accent-h), var(--accent-s), var(--l-2));
  --accent-3: hsl(var(--accent-h), var(--accent-s), var(--l-3));
  --accent-4: hsl(var(--accent-h), var(--accent-s), var(--l-4));
  --accent-5: hsl(var(--accent-h), var(--accent-s), var(--l-5));
  --accent-6: hsl(var(--accent-h), var(--accent-s), var(--l-6));
  --accent-7: hsl(var(--accent-h), var(--accent-s), var(--l-7));
  --accent-8: hsl(var(--accent-h), var(--accent-s), var(--l-8));
  --accent-9: hsl(var(--accent-h), var(--accent-s), var(--l-9));
  --accent-0: hsl(var(--accent-h), var(--accent-s), var(--l-0));

  --accent-alt: hsl(203, 100%, 64%);
  --accent-alt-h: 203;
  --accent-alt-s: 100%;
  --accent-alt-l: 64%;
  --accent-alt--1: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l--1));
  --accent-alt-0: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-0));
  --accent-alt-1: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-1));
  --accent-alt-2: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-2));
  --accent-alt-3: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-3));
  --accent-alt-4: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-4));
  --accent-alt-5: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-5));
  --accent-alt-6: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-6));
  --accent-alt-7: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-7));
  --accent-alt-8: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-8));
  --accent-alt-9: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-9));
  --accent-alt-0: hsl(var(--accent-alt-h), var(--accent-alt-s), var(--l-0));

  --complement: hsl(36, 100%, 67%);
  --complement-h: 36;
  --complement-s: 100%;
  --complement-l: 67%;
  --complement--1: hsl(var(--complement-h), var(--complement-s), --l--1);
  --complement-0: hsl(var(--complement-h), var(--complement-s), --l-0);
  --complement-1: hsl(var(--complement-h), var(--complement-s), --l-1);
  --complement-2: hsl(var(--complement-h), var(--complement-s), --l-2);
  --complement-3: hsl(var(--complement-h), var(--complement-s), --l-3);
  --complement-4: hsl(var(--complement-h), var(--complement-s), --l-4);
  --complement-5: hsl(var(--complement-h), var(--complement-s), --l-5);
  --complement-6: hsl(var(--complement-h), var(--complement-s), --l-6);
  --complement-7: hsl(var(--complement-h), var(--complement-s), --l-7);
  --complement-8: hsl(var(--complement-h), var(--complement-s), --l-8);
  --complement-9: hsl(var(--complement-h), var(--complement-s), --l-9);
  --complement-10: hsl(var(--complement-h), var(--complement-s), --l-10);

  --background--1: var(--dark--1);
  --background: var(--dark-0);
  --background-1: var(--dark-1);
  --background-2: var(--dark-2);
  --background-3: var(--dark-3);
  --background-4: var(--dark-4);
  --background-5: var(--dark-5);
  --background-6: var(--dark-6);
  --background-7: var(--dark-7);
  --background-8: var(--dark-8);
  --background-9: var(--dark-9);
  --background-10: var(--dark-10);

  --foreground: var(--light);
  --foreground--1: var(--light--1);
  --foreground-1: var(--light-1);
  --foreground-2: var(--light-2);
  --foreground-3: var(--light-3);
  --foreground-4: var(--light-4);
  --foreground-5: var(--light-5);
  --foreground-6: var(--light-6);
  --foreground-7: var(--light-7);
  --foreground-8: var(--light-8);
  --foreground-9: var(--light-9);
  --foreground-10: var(--light-10);

  --link: var(--accent-alt-8);
  --hover: var(--accent-alt-9);

  --transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: 1rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "sidebar-main main sidebar-secondary"
    "footer footer footer";
  gap: 2rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

header,
footer {
  padding: 2rem;
  padding-bottom: 0;
}

main {
  grid-area: main;
}

.sidebar {
  padding-inline: 2rem;
}

#sidebar-main {
  grid-area: sidebar-main;

  & nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 1rem;
  }
}

#sidebar-secondary {
  grid-area: sidebar-secondary;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  grid-area: header;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & span {
    color: var(--complement);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

a,
.button-link {
  color: var(--foreground);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transition);
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a:hover,
.button-link:hover {
  text-decoration: none;
  color: var(--accent-alt);
  background-color: transparent;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: min(22rem, 90vw);
  /* height: 100%; */
  margin: 0 auto;
  background-color: var(--background--1);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 8rem;

  & h2 {
    text-align: center;
  }
}

.auth-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & fieldset {
    min-width: 100%;
  }
}


fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

fieldset label {
  display: flex;
  justify-content: space-between;
}

.error {
  color: var(--accent-5);
}

input {
  background-color: var(--background-0);
  border-radius: 0.25em;
  border: 1px solid var(--accent-alt-2);
  outline-color: var(--accent-alt-2);
  font-size: 1rem;
  padding-block: 0.25em;
  transition: all var(--transition);
  color: var(--foreground);
}

/* input:focus-visible,
input:active {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  border-color: var(--accent-alt-5) !important;
  outline: 1px solid var(--accent-alt-5) !important;
  outline-offset: 0px !important;
} */
input:focus-visible,
input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  border-color: var(--accent-alt-6) !important;
  outline: 1px solid var(--accent-alt-6) !important;
  outline-offset: 0px !important;
  box-shadow: 0 0 0 100px var(--background) inset;
  overflow: hidden !important;
  -webkit-text-fill-color: var(--foreground);
}

button,
.button {
  background-color: var(--accent-alt-6);
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all var(--transition);
}

button:hover,
.button:hover {
  background-color: var(--accent-alt-7);
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}